# Ignore Terraform state and other sensitive files
terraform/**/*.tfstate
terraform/**/*.tfstate.*
terraform/**/*.tfvars
terraform/.terraform/
terraform/.terraform.lock.hcl

# Ignore variables definition
terraform/terraform.tfvars

# Ignore keys 
terraform/keys/

# Ignore license
k8s/license/

