# Ignore Terraform state and other sensitive files
terraform/**/*.tfstate
terraform/**/*.tfstate.*
terraform/**/*.tfvars
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/kubeconfig.cmd

# Ignore variables definition
terraform/terraform.tfvars

# Ignore keys 
terraform/keys/

# Ignore license
k8s/license/

# Ignore ingress.yaml (commit the .sample file instead)
k8s/elasticsearch/ingress/ingress.yaml

# Ignore ollama config text file
k8s/elasticsearch/ml/connector-config.txt

# Ignore my TODOs
TODO.md

# Ignore .swp files
*.swp
